<div class="container">

    <div class="card">
        <h1>Your Summary</h1>
        <br>
        <h3>Score: {{ totalScore }}</h3>
        <h3>Risk-Level: {{ scoreString }}</h3>
        
        <br>
        <h5>Because of your Age, your Score Increased by: {{ ageScore }} points</h5>
        <h5>Because of your BMI, your Score Increased by: {{ bmiScore }} points</h5>
        <h5>Because of your Blood Pressure, your Score Increased by: {{ bpScore }} points</h5>
        <h5>Because of your Family History, your Score Increased by: {{ familyHistoryScore }} points</h5>
        <br>
        <p>Please see below for a graphical representation fo your data...</p>
    </div>
    <div class="card">
        <canvas id="myChart"></canvas>
    </div>

    <div class="hidden">
        <p id="ageScore">{{ ageScore }}</p>
        <p id="bmiScore">{{ bmiScore }}</p>
        <p id="bpScore">{{ bpScore }}</p>
        <p id="familyHistoryScore">{{ familyHistoryScore }}</p>
        <p id="totalScore">{{ totalScore }}</p>
        <p id="scoreString">{{ scoreString }}</p>

    </div>

    <script>
        const score = document.getElementById('totalScore').innerHTML;
        const string = document.getElementById('scoreString').innerHTML;

        function displayScore() {
            alert(
                `You scored a: ${ score }....
                \nYour category is: ${ string } ...
                \nPlease see the chart to see how you got your score`
            );
        }

        window.onload = displayScore();
    </script>

    <br>
    <br>
    <a href="/">Go Back</a>
</div>