<h1>Summary</h1>

<canvas id="myChart"></canvas>

<div class="hidden">
    <p id="ageScore">{{ ageScore }}</p>
    <p id="bmiScore">{{ bmiScore }}</p>
    <p id="bpScore">{{ bpScore }}</p>
    <p id="familyHistoryScore">{{ familyHistoryScore }}</p>

    {{ totalScore }}
    {{ scoreString }}
</div>


<a href="./index.hbs">Go Back</a>